html,
body {
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      overflow: hidden;
      background-color: #132635;
      position: relative;
}
/* @media (max-width: 425px) {
      html {
            transform: rotate(90deg);
            transform-origin: top center;
      }
} */

h1 {
      padding: 0;
      margin: 0;
}
.auto {
      width: 10%;
}
.button {
      z-index: 2;

      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: 120px;
      background-color: #66bdff;
      transform: translate(-50%, 0);
      transition: 0.1s;
}

.button a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 3rem;
      font-family: Arial, Helvetica, sans-serif;
}
.button:active {
      background-color: #2d8dd6;
}
.button a:active {
      transform: scale(1.1);
}
.button2 {
      z-index: 2;

      position: absolute;
      top: 70%;
      left: 50%;
      width: 200px;
      height: 75px;
      background-color: #ff3434;
      transform: translate(-50%, 0);
      transition: 0.1s;
}
.button2 a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 2rem;
      font-family: Arial, Helvetica, sans-serif;
}
.button2:active {
      background-color: #d81818;
}
.button2 a:active {
      transform: scale(1.1);
}
.button3 {
      z-index: 2;

      position: absolute;
      top: 83%;
      left: 50%;
      width: 150px;
      height: 50px;
      background-color: #00df13;
      transform: translate(-50%, 0);
      transition: 0.1s;
}

.button3 a {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
}
.button3:active {
      background-color: #00bb10;
}
.button3 a:active {
      transform: scale(1.1);
}
.fon {
      width: 100%;
      height: 100%;
      background-image: url("fon1.jpg");
      background-repeat: repeat-x;
      background-size: 265%;
      -moz-animation: drive 999s linear infinite;
      -ms-animation: drive 999s linear infinite;
      -webkit-animation: drive 999s linear infinite;
      -o-animation: drive 999s linear infinite;
      animation: drive 500s linear infinite;
      background-position: 0px 0px;
      -moz-animation-play-state: paused;
      -ms-animation-play-state: paused;
      -webkit-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
}
@keyframes drive {
      100% {
            background-position: -99999px 0px;
      }
}
@media (max-width: 1440px) {
      .fon {
            background-size: 300%;
      }
}
@media (max-width: 1024px) {
      .fon {
            background-size: 370%;
      }
}
@media (max-width: 768px) {
      .fon {
            background-size: 470%;
      }
}
@media (max-width: 425px) {
      .button {
            width: 200px;
            height: 75px;
      }
      .button2 {
            width: 150px;
            height: 50px;
            transform: translate(-50%, -50px);
      }
      .button3 {
            width: 100px;
            height: 40px;
            transform: translate(-50%, -75px);
      }
      .button3 a {
            font-size: 1rem;
      }
      .fon {
            background-size: 750%;
      }
}
@media (max-width: 375px) {
      .fon {
            background-size: 850%;
      }
}
@media (max-width: 320px) {
      .fon {
            background-size: 950%;
      }
}
